/* Container for custom dots */
.customDotsContainer {
  position: relative;
  display: flex;
  gap: 10px;
  z-index: 10;
}

/* List styling for dots */
.customDotsList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Styling for individual dots */
.customDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Make sure it’s clickable */
}

/* Active dot styling */
.activeDot {
  background-color: white; /* Active dot color */
  scale: 1.6;
}

@media (max-width: 768px) {
  .customDot {
    width: 8px; /* Smaller dots */
    height: 8px; /* Smaller dots */
  }

  .activeDot {
    scale: 1.6; /* Slightly smaller active dot */
  }
}

/* Even smaller dots for screens smaller than 480px */
@media (max-width: 576px) {
  .customDotsContainer {
    scale: 0.8;
  }
}
@media (max-width: 360px) {
  .customDotsContainer {
    scale: 0.4;
  }
}
