html,
body {
  padding: 0 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  padding: 0 !important;
  max-width: 100% !important;
}

.main {
  /* padding: 0 24px; */
  min-height: 100vh;
}

.slick-active .media-item-content {
  opacity: 1;
  transition: opacity 1s ease 150ms;
}

/* Navigation Arrows */
.multi-slider .swiper-button-prev,
.multi-slider .swiper-button-next {
  position: absolute;
  top: 48%;
  transform: translateY(-48%);
  width: 48px;
  height: 96px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

/* Hide arrows on mobile */
@media (max-width: 600px) {
  .multi-slider .swiper-button-prev,
  .multi-slider .swiper-button-next {
    display: none !important;
  }
}

/* Hide disabled navigation buttons */
.multi-slider .swiper-button-prev.swiper-button-disabled,
.multi-slider .swiper-button-next.swiper-button-disabled {
  display: none;
}

.multi-slider .swiper-button-next::after,
.multi-slider .swiper-button-prev::after {
  color: white;
}

/* Hover effect */
.multi-slider .swiper-button-next:hover,
.multi-slider .swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.9);
}
